 body {
    margin:0;
    }

  .navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }

  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .navbar a:hover {
    background: #ddd;
    color: black;
  }

  .margin-navbar {
    height:49px;
  }
  .margin-button{
	height:50px;
	margin-left: 200px;
	margin-top: 50px;
	color: white;
	background-color:black;
  }	  
  .tablestyle{
	  padding-right: 100px ; 
	  border: 1px solid black;
	  text-align: center;
  }